<!DOCTYPE html>
<html>
<head>
  <title>todo</title>
  <style>
    .done {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
<header>
  <h1>
    <a href="{{ path('home') }}">todo</a>
  </h1>
  <ul>
    {% for message in app.session.getFlashBag.get('message') %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
  <nav>
    <ul>
      <li>
        {% if current_user(app) %}
          <form action="{{ path('logout') }}" method="post">
            <label>
              logged in as
              <a href="{{ path('user', {'username': current_user(app).username}) }}">{{ current_user(app).username }}</a>
            </label>
            <button type="submit">logout</button>
          </form>
        {% else %}
          <a href="{{ path('login_page') }}">login</a>
        {% endif %}
      </li>
      <li><a href="{{ path('users') }}">users</a></li>
    </ul>
  </nav>
</header>
<main>
  {% block content %}
  {% endblock %}
</main>
</body>
</html>
