{% extends "base.twig" %}

{% block content %}
  <h2>{{ user.name }} ({{ user.username }})</h2>
  <div id="root">
    {% if user.tasks|length > 0 %}
      <ul id="tasks">
        {% for task in user.tasks|reverse %}
          {% if task.owner == current_user(app) %}
            {% if task.getDone() %}
              <li class="done">
                <form action="{{ path('unfinish_task') }}" method="post">
                  <button type="submit">doing</button>
                  <input type="hidden" value="{{ task.id }}" name="id" id="task_id">
                </form>
                {{ task.name }}
              </li>
            {% else %}
              <li class="doing">
                <form action="{{ path('finish_task') }}" method="post">
                  <button type="submit">done!</button>
                  <input type="hidden" value="{{ task.id }}" name="id" id="task_id">
                </form>
                {{ task.name }}
              </li>
            {% endif %}
          {% else %}
            <li class="{% if task.getDone() %}done{% else %}doing{% endif %}">
              {{ task.name }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <p>no done or doing tasks.</p>
    {% endif %}
  </div>
{% endblock %}

{% block js %}
  <script src="/dist/user.js"></script>
{% endblock %}
